<html>
<head>
    <meta charset="utf-8">
    <title>deathsmiles</title>
    <link>
</head>
<body>
    <table>
        <tr>
            <th>Rosa</th>
            <th>Casper</th>
            <th>Follet</th>
            <th>Windia</th>
            <th>Sakura</th>
        </tr>
        <tr>
            <td><img src="../img/rosa.jpg"></td>
            <td><img src="../img/casper.jpg"></td>
            <td><img src="../img/follet.jpg"></td>
            <td><img src="../img/windia.jpg"></td>
            <td><img src="../img/sakura.jpg"></td>
        </tr>
    </table>
</body>
</html>