<html>
<head>
    <meta charset="utf-8">
    <title>mushimesama</title>
</head>
<body>
    <div>Une rose seule, c'est toutes les roses
        et celle-ci: l'irremplaçable,
        le parfait, le souple vocable
        encadré par le texte des choses.
    </div>
</body>
</html>